= form_tag(instalments_path, :method => "get", id: "filter-form", class: "search-form-presentations") do
  = text_field_tag :filter, params[:filter], class: "form-control filter-input",
    id: "filter-date", :autocomplete => :off, placeholder: "Filtrar día"